{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Book {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="awardYear">Awardyear</label>
            <input type="text" name="awardYear"
                   placeholder="Nobel Prize Award year">
            </input>
        </p>

        <p>
            <label for="category">Category</label>
            <input type="text" name="category"
                   placeholder="Award Category">
            </input>
        </p>

        <p>
            <label for="motivation">Motivation</label>
            <input type="number" name="motivation"
                   placeholder="Number of pages">
            </input>
        </p>
        <p>
        <label for="birth-country">Country</label>
        <br>
        <textarea name="birth_country"
                  placeholder="Country of Origin"
                  rows="10"
                  cols="10"
                  ></textarea>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}